<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Blog</title>
</head>
<body>
    <header class="container col-12 d-flex p-2">
    <nav class="my-2 mx-1 col-12">
        <button class="text p-0" type="button" id="homeBtn">Home</button>
        <button class="text px-4" type="button" id="dashboardBtn">Dashboard</button>
        {{#if loggedIn}}
            <button class="text p-0 " type="button" id="logoutBtn">Logout</button>
            {{else}}
            <button class="text p-0 " type="button" id="loginBtn">Login</button>
        {{/if}}
        
    </nav>
    <h1 class="headerTitle col-md-5 col-10 my-2 mx-4">{{headerTitle}}</h1>
</header>
    {{{body}}}
    <script src="/js/navBar.js"></script>
</body>
</html>