<header class="container col-12 d-flex p-2">
    <nav class="my-2 mx-4">
        <button class="text p-0" type="button">Home</button>
        <button class="text px-4" type="button">Dashboard</button>
        <button class="text p-0 " type="button">Logout</button>
    </nav>
    <h1 class="headerTitle col-5 my-2 mx-4">The Tech Blog</h1>
</header>


{{#each post}}
<div >

</div>
{{/each}}